{% extends "base.html" %} {% load static %}{% block content %}
{% include './includes/header.html' %}
<div class="wrapper">
  <section class="banner">
      <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
      <div class="overlay"></div>
      <!-- The HTML5 video element that will create the background video on the header -->
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
      </video>
      <!-- The header content -->
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-3">Video Header</h1>
            <p class="lead mb-0">Using HTML5 Video and Bootstrap</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h2>BACKGROUND</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="background-block text-center">
            The idea to come up with Kenya Union of Post Primary Education Teachers 
            – KUPPET Kenya was hatched in 1985 when the undergraduate education students at Kenyatta University agitated for better terms and conditions of service for graduate teachers entering the teaching service.
              Initially teachers were discriminated in employment status on first appointment since other professions were recruited on higher job groups by the government. 
               The first move to register the Union in 1993 was thwarted when a rival union obtained court orders to stop its registration. 
             However in 1998 on 26th November, under TU/136 registration number the Union was registered.
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h2>About Us</h2>
            <p>
              The idea to come up with Kenya Union of Post Primary Education Teachers – KUPPET – kuppet kenya was hatched in 1985 when the undergraduate education students at Kenyatta University agitated for better terms and conditions of service for graduate teachers entering the teaching service.  Initially teachers were discriminated in employment status on first appointment since other professions were recruited on higher job groups by the government.  The first move to register the Union in 1993 was thwarted when a rival union obtained court orders to stop its registration.  However in 1998 on 26th November, under TU/136 registration number the Union was registered.

The Union (Teachers Union) was formed to respond to specific challenges of representation of teachers in post primary institutions in the employment of Teachers Service Commission (TSC).   Members wanted a Unionto advocate for the establishment on sound ethical and professional policies that guarantee job security and fair resolutions to members’ grievances related to work.  It was also to negotiate with the government of Kenya and its agents, any public or private institutions offering education related services, better terms and conditions of employment and thereby formulate clear representation and negotiation procedures including promotion and other packages. 

The Union pickedup when it held its first elections on 26th April 2002,the second elections on 29th July 2006 ,the third elections on 25th June 2011 and last elections on 19th March 2016.

The four cycles of democratic elections have ushered in quality leadership which has spurred growth in the union.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-6 col-sm-6">
          <div class="about-block text-center">
            <h4 class="wow fadeInUp" data-wow-delay=".3s">Vision</h4>
            <p class="wow fadeInUp" data-wow-delay=".5s">
              A strong National progressive post primary teachers’ Union in Kenya where justice, service and integrity are upheld to enhance cohesion and conciliation
            </p>
          </div>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6">
          <div class="about-block text-center">
            <h4 class="wow fadeInUp" data-wow-delay=".3s">
              Mission
            </h4>
            <p class="wow fadeInUp" data-wow-delay=".5s">
              To unite all teachers in post primary institutions in Kenya by advocating for the establishment of sound ethical and professional policies that guarantee job security and fair solutions to members’ grievances through lawful union activities, affiliation, negotiation and research.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6">
          <div class="about-block text-center">
            <h4 class="wow fadeInUp" data-wow-delay=".3s">Our Core Values</h4>
            <p class="wow fadeInUp" data-wow-delay=".5s">
              Service, Justice and Integrity
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="portfolio">
    <div class="title">
      <h2>Our Portfolio</h2>
    </div>
    <div class="container">
      <div class="main-timeline">
      
                              <!-- start experience section-->
                              <div class="timeline">
                                  <div class="icon"></div>
                                  <div class="date-content">
                                      <div class="date-outer">
                                          <span class="date">
                                                  <span class="month">2 Years</span>
                                          <span class="year">2013</span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="timeline-content">
                                      <h5 class="title">Visual Art &amp; Design</h5>
                                      <p class="description">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                      </p>
                                  </div>
                              </div>
                              <!-- end experience section-->
      
                              <!-- start experience section-->
                              <div class="timeline">
                                  <div class="icon"></div>
                                  <div class="date-content">
                                      <div class="date-outer">
                                          <span class="date">
                                                  <span class="month">1 Years</span>
                                          <span class="year">2015</span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="timeline-content">
                                      <h5 class="title">Product Designer</h5>
                                      <p class="description">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                      </p>
                                  </div>
                              </div>
                              <!-- end experience section-->
      
                              <!-- start experience section-->
                              <div class="timeline">
                                  <div class="icon"></div>
                                  <div class="date-content">
                                      <div class="date-outer">
                                          <span class="date">
                                                  <span class="month">2 Years</span>
                                          <span class="year">2016</span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="timeline-content">
                                      <h5 class="title">Web Designer</h5>
                                      <p class="description">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                      </p>
                                  </div>
                              </div>
                              <!-- end experience section-->
      
                              <!-- start experience section-->
                              <div class="timeline">
                                  <div class="icon"></div>
                                  <div class="date-content">
                                      <div class="date-outer">
                                          <span class="date">
                                                  <span class="month">2 Years</span>
                                          <span class="year">2018</span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="timeline-content">
                                      <h5 class="title">Graphic Designer</h5>
                                      <p class="description">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                      </p>
                                  </div>
                              </div>
                              <!-- end experience section-->
      
                          </div>
      </div>
  </section>
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="title">
          <h2>MEMBERS OF STAFF</h2>
          <p>
            Here is a list of some of our members
            <br />
            You can contact them
          </p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/executive.jpg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Mary Rotich<span>Executive Secretary</span></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/jonah.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Jonah Korir <span>Chairperson</span></h3>
            </div>
          </div>
        </div> 
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/clara.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Clara Chebet <span>Vice Chairperson</span></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/zablon.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Zablon Rono <span>Treasurer</span></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/beatrice.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Beatrice Mitei <span>Assistant Treasurer</span></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/mercy.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Mercy Langat <span>Organizing Secretary</span></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/hillary.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Hillary Rotich <span>ASS. Executive Secretary</span></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/prisca.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Prisca Cheruiyot <span>Secretary Tertiary</span></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/cherono.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Mercy Cherono <span>Secretary Secondary</span></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img
              src="{% static 'img/team/florence.jpeg' %}"
              alt="kericho-kuppet images"
            />
            <div class="team-overlay">
              <h3>Florence Koech<span>Secretary Gender</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonial">
    <div class="container">
      <div class="row">
        <div class="title">
          <h2>TESTIMONIAL</h2>
          <p>
            We've been doing a great job serving our teachers
            <br />
            here is what some of them had to say
          </p>
        </div>
        <div class="col col-md-6">
          <div class="media wow fadeInLeft" data-wow-delay=".3s">
            <div class="media-left">
              <a href="#">
                <img
                  src="{% static 'img/testimonials/cropped-kuppet-Kenya-favicon-32x32.png' %}"
                  alt="kericho-kuppet images"
                />
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Mr. Ngetich</h4></a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commo
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% include './includes/contact.html' %}
{% include './includes/footer.html' %}

{% endblock content %}
